<header>
  <a href="."><img id="icone-site" src="./assets/icones/letra-k-claro.svg" alt="Ícone do site"></a>
  <button id="dark-mode-button"><img id="icone-trocar-fundo" src="./assets/icones/dark-mode-icon.svg" alt="Ícone do modo claro/escuro"></button>
</header>