<% for (tecnologia of tecnologias) { %>
  <div class="imagem-tecnologia">
      <picture>
        <source srcset="./assets/tecnologias/logo-<%= tecnologia %>.webp" type="image/webp">
        <img src="./assets/tecnologias/logo-<%= tecnologia %>.png" alt="Logo <%= tecnologia %>">
      </picture>
    </div>
<% } %>
    