<%- include('./includes/head.ejs') %>

<body class="modo-escuro">
  <%- include('./includes/header.ejs') %>
  <main>
    <section class="apresentacao">
      <div class="apresentacao-texto">
        <h1>Olá &#x1F44B;</h1>
        <p>Bem vindo ao meu portfólio! Meu nome é Kevin e eu sou <strong>desenvolvedor fullstack</strong>.</p>
        <p>Sou apaixonado por tecnologia e inovação, sempre em busca de novos desafios. Proativo e adaptável, me empenho
          em aprender continuamente para entregar soluções de alto impacto e promover a inovação.</p>
        <p>Durante a graduação, fui monitor de programação e destaquei-me na <strong>resolução de desafios</strong>,
          como <a target="_blank"
            href="https://github.com/iperetta/MTP_2018-2/blob/master/Tutorial%20-%20Visualiza%C3%A7%C3%A3o%20de%20Caracteres%20Acentuados%20e%20Especiais%20para%20Windows.pdf">este
            aqui</a>. Conquistei uma média geral de <strong>90,2/100</strong> no curso de Engenharia Elétrica pela
          Universidade Federal de Uberlândia (UFU), um resultado que considero um reflexo da minha
          <strong>dedicação</strong>. Esse mesmo <strong>empenho</strong> é o que levo para cada projeto e tarefa que
          assumo.
        </p>
        <p>Ao longo da minha carreira, também desenvolvi hardware e software para sistemas embarcados usando C/C++ e
          criei aplicativos Android utilizando plataformas low code. Confira mais no <a target="_blank"
            href="https://www.linkedin.com/in/kevinfranco/">LinkedIn</a>.</p>
        <p>Ei, já que você leu até aqui, role para baixo para conhecer um pouco sobre os meus <strong>projetos</strong>.
        </p>
      </div>
      <div class="apresentacao-foto">
        <picture>
          <source srcset="./assets/foto-rosto-kevin-300px-300px.webp" type="image/webp">
          <img class="foto-rosto" src="./assets/foto-rosto-kevin-300px-300px.png" alt="Foto de rosto do Kevin">
        </picture>
      </div>
    </section>

    <section class="tecnologias">
      <h2>Tecnologias com as quais trabalhei</h2>
      <div class="container-imagens-tecnologia">
        <%- include('./includes/tecnologias.ejs') %>
      </div>
    </section>

    <section class="projetos">
      <div class="imagens-projetos">
        <div id="imagens-projetos-foto-1">
          <picture>
            <source srcset="./assets/projetos/preview-projeto-give-me-foods.webp" type="image/webp">
            <img src="./assets/projetos/preview-projeto-give-me-foods.jpeg" alt="Preview do projeto Give Me Foods">
          </picture>
        </div>
        <div id="imagens-projetos-foto-2">
          <picture>
            <source srcset="./assets/projetos/preview-projeto-my-brazil.webp" type="image/webp">
            <img src="./assets/projetos/preview-projeto-my-brazil.jpeg" alt="Preview do projeto My Brazil">
          </picture>
        </div>
      </div>
      <div class="texto-projetos">
        <h1>&#x1F9F0; Projetos</h1>
        <p>Conheça alguns dos meus projetos desenvolvidos para clientes reais, nos quais foram entregues soluções
          personalizadas para atender às demandas solicitadas. A entrega foi realizada após a avaliação final do
          cliente, com todas as correções e adaptações feitas conforme o feedback recebido.</p>
        <ul type="none" class="lista-projetos">
          <li><a target="_blank" href="https://projeto1.kvfranco.com">Give Me Foods</a></li>
          <li><a target="_blank" href="https://projeto2.kvfranco.com">My Brazil</a></li>
          <li><a target="_blank" href="https://ediarnaldo.adv.br">Ediarnaldo Advocacia</a></li>
        </ul>
        <p>Todos os projetos estão hospedados no meu próprio servidor! Isso mesmo: mantenho um servidor 24/7 para
          estudos e hospedagem de tudo que você vê por aqui. Essa experiência me levou a estudar mais sobre
          infraestrutura e DevOps, obtendo certificações do <a target="_blank"
            href="https://www.coursera.org/account/accomplishments/professional-cert/W39NB9W63SPV">Google</a> e <a
            target="_blank"
            href="https://www.credly.com/badges/d95c6750-fba1-459f-9fab-47d0cc917a86/linked_in_profile">AWS</a>. Curioso
          para saber mais? <a target="_blank" href="https://www.linkedin.com/in/kevinfranco/details/projects/">Conheça o
            meu servidor</a> e descubra o que ocorre bastidores!</p>
      </div>
    </section>
  </main>

  <footer>
    <section class="redes-sociais">
      <h2>Confira minhas redes sociais!</h2>
      <div class="redes-sociais-links">
        <a href="https://www.linkedin.com/in/kevinfranco/" target="_blank"><img src="./assets/icones/linkedin.svg"
            alt="LinkedIn Icon"></a>
        <a href="https://github.com/kvfranco" target="_blank"><img src="./assets/icones/github.svg"
            alt="GitHub Icon"></a>
        <a href="mailto:contato@kvfranco.com" target="_blank"><img src="./assets/icones/email-outline.svg"
            alt="Email Icon"></a>
        <a href="https://wa.me/5537991301607" target="_blank"><img src="./assets/icones/phone.svg" alt="Phone Icon"></a>
      </div>
      <p>Caso queira entrar em contato, tenha uma proposta ou encontre algum bug, sinta-se à vontade para entrar em
        contato. Estou à disposição!</p>
    </section>
  </footer>
</body>

</html>