@charset "UTF-8";

:root {
  --cor-de-fundo: #213547;
  --cor-texto: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial;
  background-color: var(--cor-de-fundo);
  color: var(--cor-texto);
}

main {
  padding-top: 3rem;
}

h1 {
  font-size: 3.2em;
  margin-bottom: 30px;
}

p {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 10px;
}

a {
  color: #11b1f0;
  text-decoration: none;
}

a:hover {
  color: #2897c4;
}

/* Cabeçalho */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px;
  z-index: 100;
}

header button {
  border: none;
  background-color: transparent;
}

header img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

header p {
  margin: auto;
  font-size: 0.9em;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Seção -- Apresentação */

@media (max-width: 1024px){
  .apresentacao {
    flex-direction: column-reverse;
  }
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1280px;
  margin: auto;
}

.apresentacao-texto {
  max-width: 800px;
  padding: 15px;
}

.foto-rosto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* Seção -- Redes Sociais */

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #43a4d4;
  gap: 20px;
  padding: 40px;
}

.redes-sociais-links {
  display: flex;
  gap: 30px;
}

.redes-sociais-links img {
  background-color: white;
  padding: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}