@media (max-width: 1024px) {
  .projetos {
    flex-direction: column;
    margin-top: 50px;
  }
}

.projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  padding: 2rem;
  gap: 20px;
}

.texto-projetos > * {
  opacity: 0;
  animation: ShowProjectSection 1.3s ease-out forwards;
  animation-delay: calc(0.3s * (var(--i)));
}

.texto-projetos {
  max-width: 800px;
  padding: 15px;
}

.lista-projetos li {
  font-size: 1.3em;
  margin-top: 20px;
  list-style-type: none;
}

.lista-projetos li:nth-last-child(1) {
  margin-bottom: 20px;
}

@keyframes ShowProjectSection {
  0% {
    transform: translate(500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}